{% extends "myApp/layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block files %}
    <script src='{% static "myApp/upvote.js" %}'></script>
    <script src='{% static "myApp/asyncQuestion.js" %}'></script>
    <link rel="stylesheet" href='{% static "myApp/home.css" %}'>
    <link rel="stylesheet" href='{% static "myApp/layout.css" %}'>
    {% endblock %}
</head>

{% block body %}
<body>
    <div id="questionContainer">
        <div id="questionDiv"></div>
        <div id="answerDiv"></div>
    <div id="questionControls">
        <button id="lastQuestionButton" class="buttonPressedAnimation questionButton">Back</button>
        <button id="flipButton" data-value="question" class="buttonPressedAnimation"> Flip Card</button>
        <button id="newQuestionButton" value=0 class="buttonPressedAnimation questionButton">Next</button>
    </div>
    {% if user.is_authenticated %}
    {% csrf_token %}
        <div id="upvotesDiv">
            <img src='{% static "myApp/img/downvote.png" %}' name="downvote" class="vote buttonPressedAnimation" data-value=-1 data-ID={{post.id}}  id=downvote alt="downvote">
            <div id="upvotesAmount">{{upvotes}}</div>
            <img src='{% static "myApp/img/upvote.png" %}' name="upvote" class="vote buttonPressedAnimation" data-value=1 data-ID={{post.id}}  id=upvote alt="upvote">
        </div>
    {% endif %}

{% endblock %}