#questionContainer {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
}

#questionDiv, #answerDiv {

    text-align: left;
    width: 100%;
    height: 40vh;
    border: 1px black solid;
}

#answerDiv {
    display:none;
}